<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="crop_upscale_merge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.UnmanagedMemoryStream" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <crop_upscale_merge.Properties.Settings>
      <setting name="lastCurrentModel" serializeAs="String">
        <value />
      </setting>
      <setting name="esrganFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="inputFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="overlapSize" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="maxTileResolution" serializeAs="String">
        <value>200704</value>
      </setting>
      <setting name="ignoreAlpha" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="upscaleModifier" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="debugESRGAN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="resultsMergedFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="outputDestinationMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="preserveImageFormat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="logsVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="lrFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="modelsFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="resultsFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="mainFormWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mainFormHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="createMemoryImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="currentVersion" serializeAs="String">
        <value>0.9.3.1</value>
      </setting>
    </crop_upscale_merge.Properties.Settings>
  </userSettings>
</configuration>
