<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming />
    <PC_ADAM-PC>
      <crop_upscale_merge.Properties.Settings>
        <lastCurrentModel></lastCurrentModel>
        <createMemoryImage>False</createMemoryImage>
        <mainFormHeight>835</mainFormHeight>
        <ignoreAlpha>False</ignoreAlpha>
        <outputDestinationMode>1</outputDestinationMode>
        <debugESRGAN>False</debugESRGAN>
        <modelsFolderPath>C:\Users\Adam\Desktop\Dissertation\Software\VectorTextures-Dissertation\1Upscaling\ESRGAN\models</modelsFolderPath>
        <mainFormWidth>1366</mainFormWidth>
        <logsVisible>True</logsVisible>
        <overlapSize>16</overlapSize>
        <maxTileResolution>200704</maxTileResolution>
        <inputFolderPath>C:\Users\Adam\Desktop\Dissertation\Software\VectorTextures-Dissertation\1Upscaling\ESRGAN\img</inputFolderPath>
        <preserveImageFormat>False</preserveImageFormat>
        <resultsMergedFolderPath>C:\Users\Adam\Desktop\Dissertation\Software\VectorTextures-Dissertation\1Upscaling\ESRGAN\results\MERGED</resultsMergedFolderPath>
        <lrFolderPath>C:\Users\Adam\Desktop\Dissertation\Software\VectorTextures-Dissertation\1Upscaling\ESRGAN\LR</lrFolderPath>
        <upscaleModifier>4</upscaleModifier>
        <esrganFolderPath>C:\Users\Adam\Desktop\Dissertation\Software\VectorTextures-Dissertation\1Upscaling\ESRGAN</esrganFolderPath>
        <resultsFolderPath>C:\Users\Adam\Desktop\Dissertation\Software\VectorTextures-Dissertation\1Upscaling\ESRGAN\results</resultsFolderPath>
      </crop_upscale_merge.Properties.Settings>
    </PC_ADAM-PC>
  </userSettings>
</configuration>